#hireclub-ui-container {
    position: absolute !important;
    right: 10px !important;
    top: 10px !important;
    z-index: 9999 !important;
}
#btn-hireclub {
    background: #0d1317 !important;
    padding: 0px !important;
    margin-left: auto !important;
    border: 0px !important;
    border-radius: 10px !important;
    display: flex !important;
    width: 96px !important;
    height: 48px !important;
    justify-content: space-between !important;
    cursor: pointer !important;
    outline: none !important;
    font-family: "Open Sans" !important;
}
#btn-hireclub #img-plus {
    border-radius: 10px !important;
    width: 24px !important;
    height: 24px !important;
    margin-left: 12px !important;
    margin-top: 12px !important;
    filter: invert(1);
}
#btn-hireclub #img-hireclub {
    border-radius: 10px !important;
    width: 48px !important;
    height: 48px !important;
}
#popup-hireclub {
    display: none;
    margin-top: 20px !important;
    border-radius: 10px !important;
    padding: 20px !important;
    background: #0d1317 !important;
}
#popup-hireclub #header {
    display: flex;
    justify-content: space-between !important;
}
#popup-hireclub #header #title {
    color: white !important;
    font-size: 16px !important;
    font-weight: 900 !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    font-family: "Open Sans" !important;
}
#wishlist-container {
    display: flex !important;
}
#wishlist-container label {
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-left: 0px !important;
    margin-right: 5px !important;
    color: #9e9e9e !important;
    font-size: 12px !important;
    font-family: "Open Sans" !important;
}
#wishlist-container #btn-menu {
    display: flex !important;
    font-size: 24px !important;
    font-family: "Open Sans" !important;
    padding: 0px !important;
    background-color: transparent !important;
    border-color: transparent !important;
    color: #9e9e9e !important;
    border-radius: 0 !important;
    background: transparent !important;
    border: 0px !important;
    cursor: pointer !important;
    outline: none !important;
}
#wishlist-container #btn-menu #img-menu{
    filter: invert(.5) !important;
}
#popup-hireclub #body {
    margin-top: 15px !important;
}
#popup-hireclub #body div {
    display: grid !important;
    margin-top: 10px !important;
}
#popup-hireclub #body input {
    width: 180px !important;
    height: 30px !important;
    border-radius: 5px !important;
    border-width: 0px !important;
    color: #555659 !important;
    font: 400 14px/1.4em Meta, "Open Sans" !important;
    margin-top: 5px !important;
}
#popup-hireclub #body label {
    color: white !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: "Open Sans" !important;
}
#popup-hireclub #footer {
    margin-top: 20px !important;
}
#popup-hireclub #footer #btn-save {
    color: white !important;
    text-transform: capitalize !important;
    font-size: 14px !important;
    font-weight: 800 !important;
    font-family: "Open Sans" !important;
    border-radius: 20px !important;
    background-color: #534ae2 !important;
    width: 100% !important;
    height: 35px !important;
    border-width: 0px !important;
    cursor: pointer !important;
    outline: none;
}
#ui-id-1 {
    z-index: 99999 !important;
    background: rgb(255, 255, 255) !important;
    font-size: 14px !important;
    border-radius: 5px !important;
    margin-top: 5px !important;
    width: 180px !important;
}
#ui-id-1 li {
    color: #555659 !important;
    font: 400 14px/1.4em Meta, "Open Sans" !important;
    padding: 3px !important;
    cursor: pointer !important;
}
#ui-id-1 li:hover {
    color: #2a6eef !important;
}
